/* GENERAL */

*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Dosis', sans-serif;
}
h2{
    font-family: 'Dosis', sans-serif;
}
h3{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}
h4{
    font-family: 'Dosis', sans-serif;
    color: rgb(0, 80, 92);
}
ul li{
    font-size: 12px;
    padding-right: 33px;
}
p{
    font-size: 12px;
}
/*HEADER*/

.header{
    height: 66px;
    top: 0;
    z-index: 99999;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    /* display:flex;
    justify-content: space-between; */

}
#logoHeader{
    height: 45px;
    padding-top: 10px;
    padding-left: 12px;
}
.toggleButton{
    height: 30px;
    width: 30px;
    position: relative; 
    cursor: pointer;
    float: right;
    margin-right: 12px;
    margin-top: 9px;
 }
 
 .toggleButton span{
     height: 3px;
     background-color:#00B4D0;
     width: 100%;
     position: absolute;
     top: 20px;
     left: 0;
     border-radius: 12px;
 }
 
 .toggleButton span::before{
     content: "";
     height: 3px;
     background-color: #00B4D0;
     width: 100%;
     position: absolute;
     top: -10px;
     left: 0;
     border-radius: 12px;
 }
 .toggleButton span::after{
     content: "";
     height: 3px;
     background-color: #00B4D0;
     width: 100%;
     position: absolute;
     top: 10px;
     left: 0;
     border-radius: 12px;
 }
#menu{
    height: 344px;
    background-color: rgb(0, 175, 208);
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 5.5px;
    border-bottom-right-radius: 34px;
}
#menu a{
    color: white;
    font-weight: 600;
    font-size: 14px;
    list-style-type: none;
    margin-left: 14px;
    text-align: left;
    padding-left: 17px;
    padding-top: 27px;
}
.logoFb{
    height: 26px;
}
.nav{
    margin-left: -458px;
    transition: 0.2s;
}
.navOpen{
    margin-left: 0px;
    transition: 0.2s;
    z-index: 5;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    opacity: 0;
    transition: 0.5s;
}
.overlayOpen{
    opacity: 1 !important;
}

/* BILLETERIE */

.billeterie{
    margin-top: 66px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(/img/FondPartenaire.jpg);
    text-align: center;
}
.billeterie h2{
    margin: 33px 0px 12px 0px;
    letter-spacing: 2px;
    color: #00B4D0;
}
.billeterie h3{
    margin-bottom: 33px;
}
.billeterieWidget{
    margin-bottom: 30px;
}
.billeterie p:last-child{
    margin-bottom: 30px;
}
.PointDeVente{
    background-color: #00B4D0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PointDeVente h2{
    color: white;
    margin: 12px 0px;
}
.PointDeVente p{
    color:white
}
.PointDeVente p:last-child{
    margin-bottom: 30px;
}

/* FOOTER */

footer{
    height: 34px;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
}
.credits{
    padding: 0px;
    font-size: 2.3vw;
    color: #303030;
    margin: 0px;
    text-align: center;
    width: 100%;
    justify-self: center;
}

@media all and (min-width: 376px){

    /* HEADRER */
    .header{
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .toggleButton{
    display:none;
    }
    #menu{
        height:66px;
        background-color: transparent;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        border-bottom-right-radius: 0px;
    }
    #menu a{
        color: #00B4D0;
        padding-left: 0px;
        padding-top: 0px;
    }
    .nav{
        margin-left: 0px;
        transition: 0s;
    }
    #logoHeader{ /* AVANT */
        height: 45px;
        padding-top: 9px;
        padding-left: 12px;
        margin-right: 0px;
    }
    nav a .logoFb .st0{
        fill:rgb(0, 175, 208) !important;
    }
    #overlay {
        display: none;
    }
    .logoFb{
        height: 15px;
    }

    /* BILLETERIE */

    .billeterieWidget{
        width: 80% !important;
        height: 745px;
    }
    /* FOOTER */
    .credits{
        font-size: 8px;
    }
}